.taskform{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.taskform input{
    font-size: large;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 40%;
}

.taskform button{
    background-color: green;
    margin-left: 10px;
    height: 100%;
}